<% layout('boilerplate/boilerplate.ejs') %>
<style>
  h1 {
    margin-bottom: 0.5rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1.5rem;
  }

  .cards {
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    &:hover {
      opacity: 0.8;
    }
  }

  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }

  .details {
    padding: 8px 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .cards-container {
    min-height: 60vh;
  }
  h3 {
    opacity: 0.7;
  }
</style>
<h1>All Listings</h1>
<div class="cards-container">
  <% if (listings.length === 0) { %>
  <h3>No listing created <i class="fa-regular fa-face-meh-blank"></i></h3>
  <% } else { %> <% for (let list of listings) { %>
  <div class="cards">
    <a href="/listing/<%=list.id%>" class="card">
      <img src="<%=list.image%>" />
      <div class="details">
        <div><strong>Title: </strong> <%= list.title%></div>
        <div><strong>Country: </strong> <%= list.country%></div>
        <div><strong>Price: </strong> $<%= list.price%>/night</div>
      </div>
    </a>
  </div>
  <% } %> <% } %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cardsContainer = document.querySelector(".cards-container");
    const cards = cardsContainer.children.length;
    if (cards < 3) {
      cardsContainer.style.gridTemplateColumns = `repeat(${cards},570px)`;
    }
  });
</script>
